.button{
    cursor: pointer;
    width: 100%;
    display: block;
    background-color: #555;
    border:0;
    color: #fff;
    border-radius: 5px;
    padding: 7px 0;
}

.heading {
    text-align: center;
}

.login {
    max-width: 400px;
    margin: 0 auto;
}